*{
  margain:  0;
  padding: 0;
}

body{
  background-color: #ffffff;
}

.wrapper{
  margin: 0  auto 0 60px;
  width: 1000px;
}

.img-writing{
  width: 250px;
  height: 475px;
  background-image: url(img/WritingPhoto.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
